In [121]:
import requests
import pandas as pd
import numpy as np

In [106]:
# Define the API endpoint
url = "https://api.census.gov/data/2023/acs/acs1/pums?get=STATE,SEX,PUMA,RACBLK,AGEP,HISP,FHISP,PWGTP,SCH,ESR,HINCP,ADJINC,SCHG,SCHL"

# PUMA (Public Use Microdata Area)
# Race: RACBLK (Black), HISP (Hispanic), RACWHT (White)
#  Age: AGEP (Population Age)
#  Employment Status: ESR
#  School Enrollment Status: SCH
#  Household Income (Past 12 Months): HINCP
#  Adjustment Factor for Income and Earnings Dollar Amounts: ADJINC
#  Population Weights: PWGTP


# Make the GET request
response = requests.get(url)

# Check if request was successful
if response.status_code == 200:
    data = response.json()  # Convert JSON response to Python list
else:
    print("Failed to fetch data:", response.status_code)
    data = None

# Convert to DataFrame if data is available
if data:
    df = pd.DataFrame(data[1:], columns=data[0])  # First row is headers
    print(df.head())  # Print the first few rows for a quick look
else:
    print("No data available")

  STATE SEX   PUMA RACBLK AGEP HISP FHISP PWGTP SCH ESR   HINCP    ADJINC  \
0    34   2  02501      0   94   01     0    69   1   6  -60000  1.019518
1    34   1  00603      0   18   01     0    42   3   6  -60000  1.019518
2    08   1  01703      0   75   02     0    18   1   6  -60000  1.019518
3    12   1  09911      1   44   01     0    24   1   6  -60000  1.019518
4    39   1  00602      1   31   01     0    49   1   6  -60000  1.019518

  SCHG SCHL
0    0   16
1   15   19
2    0   21
3    0   18
4    0   18

In [ ]:
CACHE_DIR = "https://api.census.gov/data/2023/acs/acs1/pums?get=STATE,SEX,PUMA,RACBLK,AGEP,HISP,FHISP,PWGTP,SCH,ESR,HINCP,ADJINC,SCHG"

In [ ]:
def cached_get(CACHE_DIR) -> dict:
    """
    This function caches all GET requests it makes, by writing
    the successful responses to disk.

    When creating the cache_key this function must
    include all parameters EXCEPT those included in config.IGNORED_KEYS.

    This is to avoid writing your API key to disk hundreds of times.
    A potential security risk if someone were to see those files somehow.

    Parameters:
        url:        Base URL to visit.
        **kwargs:   Keyword-arguments that will be appended to the URL as
                    query parameters.

    Returns:
        Contents of response as text.

    Raises:
        FetchException if a non-200 response occurs.
    """

    # Make the HTTP request
    response = httpx.get(full_url, follow_redirects=True)
    
    if response.status_code == 200:
        CACHE_DIR.mkdir(exist_ok=True)
        cache_path.write_text(response.text)
        return response.text
    else:    
        # Raise FetchException on error
        raise FetchException(response)

# VARIABLE LABELS

https://api.census.gov/data/2023/acs/acs1/pums/variables.json

STATE = 17 IL
PUMA = CHICAGO : 
## pumas: 
03151 Chicago City (Northwest)--Albany Park, Norwood Park, Forest Glen, North Park & O'Hare
03152 Chicago City (North)--West Ridge, Lincoln Square & North Center
03153 Chicago City (North)--Uptown, Edgewater & Rogers Park
03154 Chicago City (North)--Lake View & Lincoln Park
03155 Chicago City (Northwest)--Logan Square, Irving Park & Avondale
03156 Chicago City (Northwest)--Portage Park, Dunning & Jefferson Park
03157 Chicago City (West)--Belmont Cragin, Humboldt Park, Hermosa & Montclare
03158 Chicago City (West)--Austin, North Lawndale & East/West Garfield Park
03159 Chicago City (West)--West Town & Near West Side
03160 Chicago City (Central)--Near North Side, Loop & Near South Side
03161 Chicago City (South)--Hyde Park, Grand Boulevard, Woodlawn, Douglas & Kenwood
03162 Chicago City (Southwest)--New City, Lower West Side, Bridgeport & McKinley Park
03163 Chicago City (Southwest)--South Lawndale, Brighton Park & Gage Park
03164 Chicago City (Southwest)--Ashburn, Garfield Ridge, West Lawn, Clearing & West Elsdon
03165 Chicago City (South)--Chicago Lawn, Greater Grand Crossing & West Englewood/Englewood
03166 Chicago City (Southwest)--Auburn Gresham, Washington Heights, Morgan Park & Beverly
03167 Chicago City (South)--Roseland, Chatham, West Pullman, Calumet Heights & Avalon Park
03168 Chicago City (South)--South Shore, South Chicago, East Side & South Deering 

SEX = 
RACBLK =
AGEP =
HISP =
FHISP = 
HINCP = "Household income (past 12 months, use ADJINC to adjust HINCP to constant dollars)",
ADJINC = "Adjustment factor for income and earnings dollar amounts (6 implied decimal places)"
PWGTP = "Person's Weight"

    "SCH": {
      "label": "School enrollment",
      "predicateType": "int",
      "group": "N/A",
      "limit": 0,
      "suggested-weight": "PWGTP",
      "values": {
        "item": {
          "0": "N/A (less than 3 years old)",
          "3": "Yes, private school or college or home school",
          "1": "No, has not attended in the last 3 months",
          "2": "Yes, public school or public college"
        }
      }
    },

    "SCHG": {
      "label": "Grade level attending",
      "predicateType": "int",
      "group": "N/A",
      "limit": 0,
      "suggested-weight": "PWGTP",
      "values": {
        "item": {
          "15": "College undergraduate years (freshman to senior)",
          "07": "Grade 5",
          "11": "Grade 9",
          "01": "Nursery school/preschool",
          "05": "Grade 3",
          "14": "Grade 12",
          "03": "Grade 1",
          "13": "Grade 11",
          "09": "Grade 7",
          "06": "Grade 4",
          "08": "Grade 6",
          "04": "Grade 2",
          "10": "Grade 8",
          "16": "Graduate or professional school beyond a bachelor's degree",
          "02": "Kindergarten",
          "0": "N/A (not attending school)",
          "12": "Grade 10"
        }

"SCHL": {
      "label": "Educational attainment",
      "predicateType": "int",
      "group": "N/A",
      "limit": 0,
      "suggested-weight": "PWGTP",
      "values": {
        "item": {
          "16": "Regular high school diploma",
          "01": "No schooling completed",
          "04": "Grade 1",
          "03": "Kindergarten",
          "07": "Grade 4",
          "23": "Professional degree beyond a bachelor's degree",
          "19": "1 or more years of college credit, no degree",
          "22": "Master's degree",
          "10": "Grade 7",
          "20": "Associate's degree",
          "0": "N/A (less than 3 years old)",
          "02": "Nursery school, preschool",
          "21": "Bachelor's degree",
          "08": "Grade 5",
          "24": "Doctorate degree",
          "06": "Grade 3",
          "14": "Grade 11",
          "17": "GED or alternative credential",
          "12": "Grade 9",
          "15": "12th grade - no diploma",
          "13": "Grade 10",
          "05": "Grade 2",
          "11": "Grade 8",
          "18": "Some college, but less than 1 year",
          "09": "Grade 6"
        }

In [108]:
df["SCHL"] = pd.to_numeric(df["SCHL"])
#
df["SCHG"] = pd.to_numeric(df["SCHG"])
#
df["AGEP"] = pd.to_numeric(df["AGEP"])
# Convert PUMA to numeric if it's not already
df["PUMA"] = pd.to_numeric(df["PUMA"])
# Convert weigths to numeric if it's not already
df["PWGTP"] = pd.to_numeric(df["PWGTP"])
# create chicago 
df.loc[(df["PUMA"] >= 3151) & (df["PUMA"] <= 3168), "STATE"] = "CHICAGO"

In [138]:
# ANALYZING SCHOOL AGE POPULATION IN THE US 

df["school_age"]   = ((df["AGEP"] >= 5) & (df["AGEP"] <=18)).astype(int)

df["elementary"]    = ((df["AGEP"] >= 5)  & (df["AGEP"] <=10)).astype(int)
df["middle"]        = ((df["AGEP"] >= 11) & (df["AGEP"] <=13)).astype(int)
df["high_school"]   = ((df["AGEP"] >= 14) & (df["AGEP"] <=18)).astype(int)

df["school_attendance"] = ((df["SCH"] != "1") & (df["school_age"] == 1)).astype(int)
df["school_attendance_w"] = df["school_attendance"] * df["PWGTP"]
df["school_age_w"] = df["school_age"] * df["PWGTP"]

# School attainment

df.loc[df["SCHL"] <= 3, "years_education"] = 0
df.loc[df["SCHL"] == 4, "years_education"] = 1
df.loc[df["SCHL"] == 5, "years_education"] = 2
df.loc[df["SCHL"] == 6, "years_education"] = 3
df.loc[df["SCHL"] == 7, "years_education"] = 4
df.loc[df["SCHL"] == 8, "years_education"] = 5
df.loc[df["SCHL"] == 9, "years_education"] = 6
df.loc[df["SCHL"] == 10, "years_education"] = 7
df.loc[df["SCHL"] == 11, "years_education"] = 8
df.loc[df["SCHL"] == 12, "years_education"] = 9
df.loc[df["SCHL"] == 13, "years_education"] = 10
df.loc[df["SCHL"] == 14, "years_education"] = 11
df.loc[df["SCHL"] == 15, "years_education"] = 12
df.loc[df["SCHL"] >= 16, "years_education"] = 13

mask = df["school_age"] == 1

df["atten_elementary"] = np.where(mask & (df["years_education"] <= 4), 1, 0)
df["atten_middle"]     = np.where(mask & (df["years_education"] >= 5) & (df["years_education"] <= 7), 1, 0)
df["atten_high_school"] = np.where(mask & (df["years_education"] >= 8) & (df["years_education"] <= 11), 1, 0)

df["atten_elementary_w"]      = df["atten_elementary"] * df["PWGTP"]
df["atten_middle_w"]          = df["atten_middle"] * df["PWGTP"]
df["atten_high_school_w"]     = df["atten_high_school"] * df["PWGTP"]

df["elementary_w"]      = df["elementary"] * df["PWGTP"]
df["middle_w"]          = df["middle"] * df["PWGTP"]
df["high_school_w"]     = df["high_school"] * df["PWGTP"]

In [112]:
df.loc[(df["school_age"] == 1) & (df["SCH"] == 1), "school_attendance_w"] = 0

In [114]:
summary = df["school_attendance_w"].sum() 
summary

np.int64(56053675)

In [151]:

#  
sum_high = df[df["high_school"] == 1].groupby("STATE")["atten_high_school_w"].agg(["sum"])
sum_middle = df[df["middle"] == 1].groupby("STATE")["atten_middle_w"].agg(["sum"])
#sum_elem = df[df["elementary"] == 1].groupby("STATE")["atten_elementary_w"].agg(["sum", "mean"])

print(sum_high) 
print("Middle",sum_middle) 
#print("Elementary", sum_elem)

             sum
STATE
01        268506
02         37061
04        381141
05        164821
06       1955410
08        290492
09        182537
10         51461
11         20612
12        989609
13        617013
15         63891
16        110901
17        528960
18        371924
19        172779
20        157705
21        225802
22        235700
23         61014
24        310227
25        318159
26        488618
27        300702
28        162754
29        323053
30         58742
31        110311
32        160934
33         61576
34        470253
35        115327
36        862120
37        536117
38         34003
39        599326
40        224027
41        201967
42        618151
44         48001
45        269417
46         52369
47        346145
48       1718700
49        221480
50         28757
51        426779
53        371635
54         82738
55        297655
56         32338
CHICAGO   115810
Middle              sum
STATE
01        152002
02         23881
04        227776
05         99127
06       1275516
08        188809
09        109655
10         31635
11         17866
12        632462
13        363447
15         48511
16         70319
17        336922
18        221963
19        101801
20        101399
21        139298
22        140532
23         33472
24        198776
25        192263
26        312353
27        183258
28         95519
29        188972
30         34107
31         73097
32        101126
33         39473
34        291011
35         64583
36        582431
37        329969
38         25593
39        373902
40        136333
41        128251
42        381832
44         27301
45        155908
46         32988
47        227607
48       1110905
49        146271
50         19044
51        269153
53        234539
54         56666
55        185005
56         18091
CHICAGO    59880

In [149]:
#  
sum_high_pop = df.groupby("STATE")["high_school_w"].agg(["sum"])
sum_middle_pop = df.groupby("STATE")["middle_w"].agg(["sum"])
#sum_elem = df[df["elementary"] == 1].groupby("STATE")["atten_elementary_w"].agg(["sum", "mean"])

print(sum_high_pop) 
print ()
print("Middle",sum_middle_pop) 
#print("Elementary", sum_elem)

             sum
STATE
01        350141
02         46521
04        505192
05        219748
06       2631955
08        374818
09        233325
10         67292
11         33338
12       1339606
13        788194
15         83826
16        147909
17        693942
18        481125
19        222360
20        208515
21        293036
22        313828
23         77700
24        401789
25        430164
26        639801
27        383868
28        220643
29        409172
30         71189
31        142056
32        208946
33         82280
34        604699
35        147793
36       1177988
37        710857
38         48914
39        780692
40        293432
41        264106
42        827857
44         67036
45        362108
46         67714
47        450155
48       2247657
49        281541
50         38898
51        582051
53        480088
54        111667
55        384440
56         40540
CHICAGO   156944

Middle              sum
STATE
01        187505
02         28991
04        266031
05        119542
06       1511175
08        222626
09        129212
10         37705
11         20840
12        757937
13        449442
15         54043
16         83113
17        391976
18        262567
19        122921
20        119895
21        167195
22        174240
23         40990
24        237406
25        228778
26        373772
27        219916
28        116854
29        230987
30         38690
31         87334
32        114910
33         48546
34        349586
35         78980
36        701502
37        394370
38         31394
39        447498
40        170892
41        151898
42        463375
44         33197
45        182907
46         41452
47        272420
48       1312832
49        169350
50         22593
51        325006
53        276560
54         66231
55        212002
56         21981
CHICAGO    73570

In [139]:
# Filter for PUMA values between 03151 and 03168
chicago_df = df[(df["PUMA"] >= 3151) & (df["PUMA"] <= 3168)]

In [140]:
chicago_df.head()

,STATE,SEX,PUMA,RACBLK,AGEP,HISP,FHISP,PWGTP,SCH,ESR,...,years_education,atten_elementary,atten_middle,atten_high_school,atten_elementary_w,atten_middle_w,atten_high_school_w,elementary_w,middle_w,high_school_w
390,CHICAGO,1,3168,1,54,01,0,32,1,6,...,13.0,0,0,0,0,0,0,0,0,0
585,CHICAGO,2,3160,1,23,01,0,82,3,1,...,13.0,0,0,0,0,0,0,0,0,0
606,CHICAGO,1,3163,1,41,01,0,68,1,6,...,13.0,0,0,0,0,0,0,0,0,0
619,CHICAGO,1,3161,1,66,01,0,29,1,6,...,13.0,0,0,0,0,0,0,0,0,0
867,CHICAGO,1,3151,1,28,01,0,13,1,6,...,0.0,0,0,0,0,0,0,0,0,0

In [141]:
chicago_df.to_excel("chicago_census.xlsx", index=False)

In [147]:
sum_high_ch = chicago_df[chicago_df["high_school"] == 1].groupby("PUMA")["atten_high_school_w"].agg(["sum"])
sum_middle_ch = chicago_df[chicago_df["middle"] == 1].groupby("PUMA")["atten_middle_w"].agg(["sum"])
sum_elem_ch = chicago_df[chicago_df["elementary"] == 1].groupby("PUMA")["atten_elementary_w"].agg(["sum", "mean"])

#print(sum_high_ch) 
print("Middle",sum_middle_ch) 
#print("Elementary", sum_elem_ch)

Middle        sum
PUMA
3151  3622
3152  3089
3153   968
3154  1495
3155  4494
3156  4304
3157  3696
3158  3833
3159  2242
3160  1547
3161  3458
3162  3211
3163  3614
3164  4596
3165  2689
3166  4014
3167  4837
3168  4171

In [ ]:
pivot = pd.pivot_table(
    data=filtered_df,
    values="Sales",       # The column(s) you want to summarize
    index="Category",     # The column(s) to group by
    aggfunc="sum"         # Or ["sum", "mean", "count"], etc.
)
print(pivot)

In [ ]:
print(filtered_df["HINCP"].median())

96095.0

In [ ]:
filtered_df = df[(df["PUMA"] >= 3151) & (df["PUMA"] <= 3168)].copy()

filtered_df["PWGTP"] = pd.to_numeric(filtered_df["PWGTP"])

In [ ]:
total_population = filtered_df["PWGTP"].sum()

In [ ]:
total_population = filtered_df["PWGTP"].sum() 
total_population

np.int64(2664493)